:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em; 
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 8px 15px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  padding: 2rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Permite que se acomoden mejor en pantallas pequeñas */
}

.input-container label {
  white-space: nowrap; /* Evita que las etiquetas se partan en varias líneas */
}

.input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
  min-width: 200px; /* Evita que sean demasiado pequeños */
}


.input-large {
  flex-grow: 1;
  padding: 8px;
  font-size: 13px;
}

.alfabetos-seleccion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.alfabeto-item {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alfabeto-item:hover {
  background-color: black;
}

.alfabeto-seleccionado {
  background-color: black;
  border-color: blue;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.cadenas-seleccion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cadena-item {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cadena-item:hover {
  background-color: black;
}

.cadena-seleccionada {
  background-color: black;
  border-color: blue;
}

.error-message {
  color: red;
  margin-top: 10px;
}
